# Project exclude paths
/target/
/.idea/.gitignore
/AdventOfCode-Java.iml
/.idea/compiler.xml
/.idea/encodings.xml
/src/main/java/utils/FileRead.java
/.idea/jarRepositories.xml
/.idea/misc.xml
/pom.xml
/.idea/vcs.xml
